# -f https://download.pytorch.org/whl/torch_stable.html
# # Faker==22.2.0
# pandas
# # babel==2.14.0
# torch==2.1.2+cpu
# numpy
# flask
# flask_cors

# # # Faker==22.2.0
# # pandas==2.1.4
# # # babel==2.14.0

# # numpy==1.26.3
# # flask==3.0.0
# # flask_cors==4.0.0

# -f https://download.pytorch.org/whl/cpu
# # Faker==22.2.0
# pandas
# # babel==2.14.0
# torch==2.1.2+cpu
# numpy
# flask
# flask_cors

# requirements.txt
https://download.pytorch.org/whl/cpu/torch-1.13.0%2Bcpu-cp38-cp38-linux_x86_64.whl
numpy>=1.19.5
nbsphinx
git+https://github.com/pyg-team/pyg_sphinx_theme.git

Faker==2.2.0
pandas
babel==2.14.0

flask
flask_cors
gunicorn==20.1.0