# -f https://download.pytorch.org/whl/torch_stable.html
# # Faker==22.2.0
# pandas
# # babel==2.14.0
# torch==2.1.2+cpu
# numpy
# flask
# flask_cors

# # # Faker==22.2.0
# # pandas==2.1.4
# # # babel==2.14.0

# # numpy==1.26.3
# # flask==3.0.0
# # flask_cors==4.0.0

# -f https://download.pytorch.org/whl/cpu
# # Faker==22.2.0
# pandas
# # babel==2.14.0
# torch==2.1.2+cpu
# numpy
# flask
# flask_cors

# requirements.txt
--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.2.0+cpu
Faker==2.2.0
pandas
babel==2.14.0
numpy
flask
flask_cors
